<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="ru.itis"/>

    <bean id="reviewService" class="ru.itis.services.ReviewServiceImpl">
    </bean>

    <bean id="userService" class="ru.itis.services.UserServiceImpl">
    </bean>

    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </bean>

    <bean id="authRepository" class="ru.itis.repositories.AuthRepositoryImpl">
    </bean>

    <bean id="reviewRepository" class="ru.itis.repositories.ReviewRepositoryImpl">
    </bean>

    <bean id="userRepository" class="ru.itis.repositories.UserRepositoryImpl">
    </bean>
</beans>