#windLabel {
    -fx-background-color: #468041;
}
#hpLabel1, #hpLabel2{
    -fx-background-color: #ff3f43;
}
#gridPane{

}
.root {
    -fx-background-image: url("15270591.jpg");
    -fx-background-repeat: repeat-x;
    -fx-background-position: center bottom;
    -fx-background-color: #000;
}
#muzzle1{

}
#endGame{
    -fx-font-size: 30;
}
